*{

    font-size: 40px;
    text-align: center;
    color: white;
}
body{

    background-image: url(/imagenes/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a:hover{
    background-color: blue;
    border-radius: 10px;

}